@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;800&family=Roboto:wght@900&display=swap');
@font-face {
    font-family: 'gilroy';
    src: url("../font/Gilroy-Light.ttf");
    /* src: url("../font/Gilroy-Medium.ttf"); */
    /* src: url("../font/Gilroy-Bold.ttf"); */
    /* font-style:; */
    font-weight: 300;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat';
    /* cursor: url('/Anil-Kumar-Panta.cur'); */
}

@font-face {
    font-family: 'gilroy';
    src: url("../font/Gilroy-Bold.ttf");
    /* src: url("../font/Gilroy-Medium.ttf"); */
    /* src: url("../font/Gilroy-Bold.ttf"); */
    /* font-style:; */
    font-weight: 900;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat';
}

img {
    width: 18px;
    cursor: pointer;
    /* gap: 20px; */
    padding: 6px;
    position: relative;
}

img:hover {
    transform: scale(1.1);
    background-color: #75DEFF;
    /* border-radius: 50%; */
    animation-name: easyease1;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

h1 {
    font-size: 28px;
    font: bold;
    font-weight: 900;
    letter-spacing: 2px;
    position: relative;
}

h1:hover::before {
    content: '';
    /* width: 100%; */
    height: 50%;
    background-color: #75DEFF;
    width: 62%;
    position: absolute;
    left: 0;
    z-index: -1;
    animation-name: easyease;
    animation-duration: 1s;
}


/* h1:hover {
    background-color: #15C5D0;
    width: 63%;
    height: 10%; */

h3 {
    /* letter-spacing: 2px; */
    font-family: gilroy;
    font-size: 26px;
    font: lighter;
    font-weight: 520;
    padding-top: 8px;
    position: relative;
    z-index: 2;
    /* text-indent: 0px; */
}

@keyframes easyease {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes easyease1 {
    0% {
        background-color: transparent;
        border-radius: 0%;
    }
    100% {
        background-color: #75DEFF;
        border-radius: 50%;
    }
}


/* h3:hover {
    background-color: #15C5D0;
    width: 34%;
    height: 10%;
}

h3 :hover {
    transform: scale(2px);
} */

h3:hover::before {
    animation-name: easyease;
    animation-duration: 1s;
    content: '';
    width: 100%;
    height: 50%;
    background-color: #75DEFF;
    width: 31%;
    position: absolute;
    left: 0;
    z-index: -1;
}

p {
    font-family: gilroy;
    font-size: 24 px;
    line-height: 14px;
    line-height: normal;
    padding-top: 12px;
    /* font-weight: 100; */
    font: lighter;
    /* text-align: justify; */
    /* vertical-align: baseline; */
}

strong:hover {
    color: #15C5D0;
}

strong {
    font-family: Gilroy;
    font: bolder;
}

.nav {
    width: 100%;
    height: 100px;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.main {
    width: 100%;
    height: calc(100vh - 200px);
    /* background-color: chartreuse; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.togglewrap {
    display: flex;
    gap: 10px;
}

.toggletext {
    display: none;
    position: absolute;
    right: 70px;
}

.activetext {
    display: block;
}

.togglewrap:hover .toggletext {
    display: block;
}


/* .image img {
    width: 300px;
} */

.active {
    width: 12px;
    height: 12px;
    border: 4px solid #75DEFF;
    background-color: white !important;
}

.toggle {
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background-color: black;
    flex-shrink: 0;
    cursor: pointer;
}

.toggle:hover {
    background-color: #75DEFF;
}

.left {
    width: 80px;
    height: 100%;
    /* background-color: chocolate; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.middle {
    padding-left: 200px;
    min-width: 450px;
    height: 386px;
    /* background-color: crimson; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}

.image {
    /* box-shadow: 30px; */
    margin-top: 3%;
    width: 220px;
    height: 220px;
    background-color: darkgrey;
    border-radius: 50%;
    background-image: url("../iimage/Mask\ Group\ 1.png");
    background-position: center;
    /* display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; */
}

.content {
    padding-left: 50px;
    width: 550px;
    height: 50%;
    /* background-color: darkolivegreen; */
}

.right {
    width: 50px;
    height: 80%;
    /* background-color: darkgreen; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.footer {
    width: 100%;
    height: 100px;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}